a {
    text-decoration: none !important;
}

/* LOGIN PAGE stylings */
.login_content {
    /*background: url("img/friend-hands-coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/

}

.app_name_row {
  margin-top:150px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.app_name {
  font-family: 'Economica', sans-serif;
  font-size: 50px;
}

/* Splash page stylings */
.splash_content {
  background-position: center;
}

.title_header {
  font-family: 'Roboto Slab', serif;

}

/* play button stylings */
i.ion-play {
  font-size: 200px;
}

i.ion-share {
  font-size: 50px;
}


/*game content stylings*/
.play_game_content {

}

.top_row .cell {
  /*border-left: 5px solid rgb(218,125,2);*/
}

.top_row .cell + .cell {
  border-left: 5px solid rgb(218, 125, 2);
}

.middle_row {
  border-top: 5px solid rgb(218, 125, 2);
  border-bottom: 5px solid rgb(218, 125, 2);
}

.middle_row .cell + .cell {
  border-left: 5px solid rgb(218, 125, 2);
}

.bottom-row {
  border-left: 5px solid rgb(218, 125, 2);
}

.bottom_row .cell + .cell {
  border-left: 5px solid rgb(218, 125, 2);
}

.cell {
  text-align: center;
  font-size: 45px;
}

.main_grid {
  padding: 10%;
}

.main_grid .row {
  padding: 0;
}

.height_inherit {
  height: inherit;
}

.play_game_content .scroll {
  height: 100%;
}

.three .row_height {
  height: 15vh;
}

.four .row_height {
  height: 12vh;
}

.five .row_height {
  height: 10vh;
}

.three .cell {
  line-height: 15vh;
}
.four .cell {
  line-height: 12vh;
}
.five .cell {
  line-height: 10vh;
}
.padding_zero {
  padding: 0;
}
.margin_top {
  margin-top: 10px !important;
}
.font_bold {
  font-weight: bold;
}
.font_16px {
  font-size: 16px;
}

.odd_click {
  /*background-color: #2772B2;*/
  pointer-events: none;
  /*color: #ffffff;*/
}
.even_click {
  /*background-color: #FF9100;*/
  pointer-events: none;
  /*color: #ffffff;*/
}

.row + .row {
  margin-top: 0 !important;
}
.display_none {
  display: none !important;
}

/* Profile page stylings */

.profile_header {
  margin-bottom: 5px;
}

.quick_view {
  margin-top: 50px;
}
.profile_pic {
  margin-left: 10px;
}
.stats {
  margin-left: 35px;
}

/*Leaderboard page styling */


/* FOOTER styling */
.footer_title {
  font-family: 'Roboto Slab', serif;

}

/*ABOUT PAGE */
.title_about {
  font-family: 'Roboto Slab', serif;

}

.about-slider {
  height: 100%;
}
.about-slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.slider-pager {
  display: none;
}
#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

/* PRIVACY POLICY PAGE */
.policy {
  margin-top: 0;
}
