<ion-view>
  <ion-content class="splash_content" scroll='false'>
    <div class="bar bar-header bar-light">
      <h1 class="title_header title">PhunGames</h1>
    </div>

    <div class="padding-vertical">
      <img src="img/splash.png" alt="" class="full-image" style="height: 300px;"/>
    </div>

    <ion-slide-box delegate-handle="splash_page_slider" show-pager="false">
      <ion-slide>
        <div class="padding-horizontal">
          <button class="button button-positive button-block" ng-click="playGame()"><i class='ion ion-play'></i></button>
        </div>

        <!-- <div class="padding-horizontal">
          <button class="button button-positive button-block" ng-click="playGame()"><i class='ion ion-share'></i></button>
        </div> -->

        <!-- <div class="padding-horizontal">
          <button class="button button-positive button-block" ng-click="playGame()">
          About PhunGames
        </button>
      </div> -->

      </ion-slide>
      <ion-slide>
        <div class="padding-horizontal">
          <button class="button button-balanced button-outline button-block font_bold" ng-click="selectGameType(3)">
            <i class='icon ion-ios-game-controller-a'></i>
          </button>
          <button class="button button-energized button-outline button-block font_bold" ng-click="selectGameType(4)">
            <i class='icon ion-person'></i>
          </button>
          <button class="button button-assertive button-outline button-block font_bold" ng-click="selectGameType(5)">
            <i class='icon ion-trophy'></i>
          </button>
          <button class="button button-positive button-outline button-block" ng-click="goToGame()">
            <i class="icon ion-home"></i>
          </button>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="bar bar-footer bar-stable">
      <div class="footer_title title">&copy; PhunGames 2016
        <span class='item-note'>Privacy Policy
        </span>
        <span class='item-note'>About | &nbsp;
        </span>
        <span class='item-note'>Github | &nbsp;
        </span>
      </div>
    </div>

  </ion-content>
</ion-view>
