<ion-view ng-controller='SplashController as splashctrl'view-title="tictac" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>PhunGames</h1>
    </div>


    <div class="login-form">
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <input type="text"  placeholder="Enter an Alias" ng-model='splashctrl.username'>
          </label>
        </div>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-click="splashctrl.join()">Join</button>
      </div>
    </div>

  </ion-content>
</ion-view>
